@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    Layout = "~/Views/Shared/PartialView/_NestedLayout.cshtml";
    int rowNo = 0;
}

<table id="myTable" class="table table-striped dt-responsive" width=100%>
    <thead>
    <tr>
        <th>SL</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(rowNo += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            </tr>
        }

</table>
