@{
    ViewBag.Title = "Confirm Email";
    Layout = "../Shared/_Login.cshtml";
}


<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>

    <h2>@ViewBag.Title.</h2>
    <div class="login-box-body">
        <div class="form-group has-feedback">
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
            </p>
        </div>
    </div>
</div>
