@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@{ Layout = "../Shared/_Login.cshtml"; }

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <div class="login-box-body">
        <div class="form-group has-feedback">
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>

