@model JobPortal.ViewModels.ForgotPasswordViewModel

@{ Layout = "../Shared/_Login.cshtml"; }

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Forgot Password?</p>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {role = "form"}))
        {
            @Html.AntiForgeryToken()
            @*@Html.ValidationSummary("", new {@class = "text-danger"})*@

            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @placeholder = "Enter your email"})
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block btn-flat" value="Email Link"/>
            </div>
        }

    </div>
</div>
